.Day-wind-direction {
  display: inline-block;
  width: 1em;
  height: 1em;
  background: url('https://www.metaweather.com/static/img/windarrow.svg');
  background-size: 100% 100%;
}

.Day-weather-state {
  font-style: italic;
}

.Day-header {
  color: #396EB0;
}

.Login-background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../weatherbackground.jpg) no-repeat center center fixed;
  background-size: cover;
}

.Login-form {
  width: 20em;
  margin: 7em auto auto;
  background-color: white;
  text-align: center;
  font-size: 1.2em;
  padding-top: 6px;
  padding-bottom: 20px;
  border: 1px solid darkslategray;
}

.Login-button {
  width: fit-content;
  height: fit-content;
  padding: 15px 22px;
  border-radius: 0;
  border: 1px solid darkslategray;
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
}

.Login-button:hover {
  background-color: white;
  color: cornflowerblue;
}

.Login-username,
.Login-password {
  height: 28px;
  line-height: 30px;
  font-size: 1em;
}

.Weather-app,
.Weather-city {
    text-align: center;
    color: azure;
}

.Weather-background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../weatherbackground.jpg) no-repeat center center fixed;
  background-size: cover;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: 20px;
}

.weather-card {
  margin: 1em;
  margin-top: 3em;
  padding: 0.8rem;
  border: 0.01rem solid;
  border-radius: 2%;
  background-color: azure;
}

#preload{
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white url(../spinner.gif) center center no-repeat;
    background-size:60px;
}